@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif !important;
  overflow-x: hidden;
}

/* Navbar */

/* Header */
header{
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  /* padding: 7rem 0 5rem 0; */
}
header h1{
  /* font-size : clamp(1rem, 10vw, 3rem); */
  font-weight: bold;
}
.typewriter {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	animation: 1s linear, text 5s;
}


@keyframes text {
	0% {
    width: 0;
  }
	100% {
    /* width: 20ch;  */
    /* border-right: none; */
  }
}
.greenFont{
  color: #7DB800;
}
.socialLinks{
  font-size: 2rem;
  margin: 0rem .5rem;
}
.wrapper{
  overflow: hidden;
}
.wrapper img{
  animation: 1s linear ,alternate wrapper 5s;
}
@keyframes wrapper {
	0% {
    scale: 100%;
  }
  50% {
    scale: 120%;
  }
	100% {
    scale: 100%;
  }

}
/* .wrapper img{
  transition: all 1s;
}
.wrapper:hover img{
  scale: 120%;
} */
/* About */
.About{
  background: #161616;
  padding: 5rem 0;

}
.downloadCV{
  margin: 1rem 0;
  background: #7DB800 !important;
  color: black;
}
.hideme
{
    opacity:0;
    transition: .5s ease;
}
/* Expertise */
.Lang {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}
.techStackCard{
  height: 100%;
  width: 100%;
  max-width: 18rem !important;
  min-height: 18rem !important;
  background: #161616 !important;
  border-radius: 2rem !important;
  justify-content: center;
  display: flex;
  align-items: center;
}
.langAlignLabel{
  align-self: baseline;
}

/* Contact */
.contLabel{
  font-weight: 900;
  font-size: 60px;
}
.contBody{
  height: 100%;
  min-height: 40vh;
  display: flex;
  justify-content:center;
  flex-direction: column;
}
.contBody2{
  height: 100%;
  min-height: 40vh;
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: flex-end;
}
.footer{
  z-index: 1;

}
@media (max-width: 991px) {
  /* Header */
  header{
    display: flex;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
    padding: 7rem 0 5rem 0;
    text-align: center;
  }
  header h1{
    font-size : clamp(1rem, 10vw, 2rem);
    font-weight: bold;
    margin-top: 1rem;
  }
  .greenFont{
    color: #7DB800;
  }
  .socialLinks{
    font-size: 2rem;
    margin: 0rem .5rem;
  }
  .order1{
    order: 1;
  }
  .order2{
    order: 2;
  }
  .greenFont{
    margin-top: 1rem;
  }
  .resume{
    display: flex;
    justify-content: center;
  }
  .techStackCard{
    height: 100%;
    width: 100%;
    max-width: 10rem !important;
    min-height: 10rem !important;
    background: #161616 !important;
    border-radius: 2rem !important;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .Lang .skill .slick-dots li button{
    width: 10px;
    height: 10px;
  }


  .Lang {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .Lang .skill .items {
    padding: 2rem 0rem 2rem 0rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .Lang .skill .items .card {
    transition: 1s;
  }
  .Lang .skill .items .card:hover {
    scale: 1.1;
  }
  .Lang .skill .items .card .card-body {
    margin-top: 1rem !important;
  }
  .Lang .skill .items .card .card-body h6 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    min-width: 160px;
    overflow: hidden;
  }
  .Lang .skill .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 0rem;
    margin-top: 1rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
  }
  .Lang .skill .slick-dots li {
    background-color: transparent;
    border-radius: 10%;
    margin: 17px;
  }
  .Lang .skill .slick-dots li button {
    background-color: transparent;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 0;
    border: 2px solid rgb(56, 55, 55);
  }
  .Lang .skill .slick-dots li.slick-active button {
    background-color: rgb(99, 96, 96);
  }
  .langAlignLabel{
    align-self: center;
  }
}


@media (max-width: 991px) {
  /* contact */
  .contBody{
    height: 100%;
    min-height: 25vh;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
  }
  .contBody2{
    height: 100%;
    min-height: 25vh;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
  }
  .contLabel{
    font-weight: 800;
    font-size: 50px;
  }
  .center-mobile{
    text-align: center;
  }
}


.Languages {
  background-color: #f2f7f1;
}
.Languages .container .title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0rem 2rem 0rem;
}
.Languages .container .title h1 {
  font-family: "Montserrat", sans-serif;
}
.Languages .container .title hr {
  border: 2px solid rgb(99, 96, 96) !important;
  width: 5rem !important;
  opacity: 100% !important;
}

footer{
  padding: 1rem !important;
  margin: 0 !important;
  height: 5vh;
}
