@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif !important;
  overflow-x: hidden;
}

/* Navbar */
nav{
  height: 6.25rem !important;
}

/* Header */
header h1{
  font-size : clamp(1rem, 10vw, 3rem);
  font-weight: bold;
}
.greenFont{
  color: #7DB800;
}
.socialLinks{
  font-size: 2rem;
  margin: 0rem .5rem;
}
/* About */
.About{
  background: #161616;
}
.downloadCV{
  margin: 1rem 0;
  background: #7DB800 !important;
  color: black;
}

.Lang {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}
.Lang .skill .items {
  padding: 2rem 0rem 2rem 0rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.Lang .skill .items .card .card-body {
  margin-top: 1rem !important;
}
.Lang .skill .items .card .card-body h6 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  min-width: 160px;
  overflow: hidden;
}
.Lang .skill .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0rem;
  margin-top: 10rem;
  margin-right: 0rem;
  margin-bottom: 5rem;
  margin-left: 0rem;
}
.Lang .skill .slick-dots li {
  background-color: transparent;
  border-radius: 10%;
  margin: 17px;
}
.Lang .skill .slick-dots li button {
  background-color: transparent;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0;
  border: 2px solid rgb(56, 55, 55);
}
.Lang .skill .slick-dots li.slick-active button {
  background-color: rgb(99, 96, 96);
}
.techStackCard{
  width: 18rem !important; 
  height: 18rem !important;
  background: #161616 !important; 
  border-radius: 2rem !important;
  justify-content: center;
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .Lang {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .Lang .skill .items {
    padding: 2rem 0rem 2rem 0rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .Lang .skill .items .card {
    transition: 1s;
  }
  .Lang .skill .items .card:hover {
    scale: 1.1;
  }
  .Lang .skill .items .card .card-body {
    margin-top: 1rem !important;
  }
  .Lang .skill .items .card .card-body h6 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    min-width: 160px;
    overflow: hidden;
  }
  .Lang .skill .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 0rem;
    margin-top: 1rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
  }
  .Lang .skill .slick-dots li {
    background-color: transparent;
    border-radius: 10%;
    margin: 17px;
  }
  .Lang .skill .slick-dots li button {
    background-color: transparent;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 0;
    border: 2px solid rgb(56, 55, 55);
  }
  .Lang .skill .slick-dots li.slick-active button {
    background-color: rgb(99, 96, 96);
  }
}
nav {
  background-color: #161616;
}
nav .container a h1 {
  font-size: 5rem;
  color: #f2f7f1 !important;
  font-weight: 700;
}
nav .container button {
  background-color: #f2f7f1 !important;
}
nav .container .collapse ul li a {
  color: #f2f7f1;
  font-size: 1.5rem !important;
}
nav .container .collapse ul li .nav-bor {
  border: 3px solid #f2f7f1;
  border-radius: 3px;
}
nav .container .collapse ul li:hover a {
  color: #fcfcfc;
}
nav .container .collapse ul li:hover .nav-bor {
  border: 3px solid rgb(56, 55, 55);
  color: #f2f7f1;
  border-radius: 3px;
  background-color: rgb(56, 55, 55);
}

@media (max-width: 991px) {
  nav {
    background-color: #f2f7f1;
  }
  nav .container a h1 {
    font-size: 3rem;
    color: rgb(56, 55, 55) !important;
    font-family: "Caladea", serif;
    font-weight: 700;
    text-shadow: none;
  }
  nav .container button {
    background-color: black !important;
  }
  nav .container .collapse ul li a {
    color: #807f85 !important;
    font-size: 1.5rem !important;
  }
  nav .container .collapse ul li .nav-bor {
    border: none;
  }
  nav .container .collapse ul li:hover a {
    color: rgb(56, 55, 55);
  }
  nav .container .collapse ul li:hover .nav-bor {
    border: none;
    color: #f2f7f1;
    border-radius: 3px;
    background-color: transparent;
  }
  .stix {
    background-color: #f2f7f1;
  }
  .stix .container a h1 {
    color: rgb(56, 55, 55) !important;
    font-family: "Caladea", serif;
    font-weight: 700;
  }
  .stix .container button {
    background-color: black !important;
  }
  .stix .container .collapse ul li a {
    color: #807f85 !important;
    font-size: 1.5rem !important;
  }
  .stix .container .collapse ul li .nav-bor {
    border: none;
  }
  .stix .container .collapse ul li:hover a {
    color: rgb(56, 55, 55) !important;
  }
  .stix .container .collapse ul li:hover .nav-bor {
    border: none;
    color: rgb(56, 55, 55) !important;
    border-radius: 3px;
    background-color: transparent;
  }
}


@media (max-width: 991px) {
  footer {
    background-color: rgb(99, 96, 96);
  }
  footer h1 {
    color: #f2f7f1;
    margin-bottom: 1rem;
  }
  footer h6 {
    color: #f2f7f1;
    margin-bottom: 1rem;
  }
  footer .form form .form-one {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: start;
    margin-bottom: 1rem;
  }
  footer .form form .form-one input {
    max-width: 14rem;
    background-color: #f2f7f1;
  }
  footer .form form input {
    margin-bottom: 1rem;
  }
  footer .form form textarea {
    min-height: 10rem !important;
    background-color: #f2f7f1;
    margin-bottom: 1rem;
  }
  footer .form form button {
    width: 100%;
    max-width: 50rem;
    background-color: orangered;
    border: 3px solid transparent;
    border-radius: 5px;
    letter-spacing: 5px;
    font-weight: 700;
    transition: all 0.5s ease;
    padding: 10px 20px;
  }
  footer .form form button:hover {
    color: #f2f7f1;
    border: 3px solid #f2f7f1;
    background-color: transparent;
  }
  footer hr {
    border: 2px solid #807f85 !important;
    min-width: 5rem !important;
    opacity: 100% !important;
  }
  footer .bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  footer .last {
    padding: 50px 0px;
  }
  footer .last .row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  footer .last .row h3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black !important;
    font-family: "Caladea", serif;
    font-weight: 700;
    font-size: 3rem;
  }
  footer .last .row .copyright-text {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  footer .last .row .copyright-text a {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }
  footer .last .row .footer-icons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  footer .last .row .footer-icons a {
    margin-left: 1rem;
  }
  footer .last .row .footer-icons a i {
    font-size: 2rem;
    color: black;
  }
}
.head {
  background: url(../images/desktop.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.head h1 {
  text-align: center;
  color: rgb(99, 96, 96);
  font-size: 6rem;
  font-family: "Montserrat", sans-serif;
  text-shadow: 1rem 10px 50px #000000;
}
.head h2 {
  color: #807f85;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  text-shadow: 1rem 10px 50px #000000;
}
.head hr {
  border: 2px solid #807f85 !important;
  min-width: 5rem !important;
  opacity: 100% !important;
}

@media (max-width: 539px) {
  .head {
    background: url(../images/dark_plant.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .head h1 {
    padding-top: 5rem;
    text-align: center;
    color: #f2f7f1;
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    text-shadow: 1rem 10px 20px #000000;
  }
  .head h2 {
    color: #c9ccc9;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    text-shadow: 1rem 10px 50px #000000;
  }
  .head hr {
    border: 2px solid #c9ccc9 !important;
    min-width: 5rem !important;
    opacity: 100% !important;
  }
}

.Languages {
  background-color: #f2f7f1;
}
.Languages .container .title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0rem 2rem 0rem;
}
.Languages .container .title h1 {
  font-family: "Montserrat", sans-serif;
}
.Languages .container .title hr {
  border: 2px solid rgb(99, 96, 96) !important;
  width: 5rem !important;
  opacity: 100% !important;
}

